############
## IGNORE ##
############
.DS_Store
.vscode/
__pycache__/
.ipynb_checkpoints/

# Specific
data/*
wandb

###########
## ALLOW ##
###########
# the syntax is like this >>
# !/path/to/file.ipynb
